QPushButton {
    background-color: $button_background_color;
    border: 2px solid $button_border_color;
    border-radius: 8px;
    color: $button_color;
    padding: 8px 16px;
}

QPushButton:hover {
    background-color: $button_background_color_hover;
    border-color: $button_border_color_hover;
    color: $button_color_hover;
}

QPushButton:pressed {
    background-color: $button_background_color_pressed;
    border-color: $button_border_color_pressed;
    color: $button_color_pressed;
}

QPushButton:disabled {
    background-color: $button_background_color_disabled;
    border-color: $button_border_color_disabled;
    color: $button_color_disabled;
}
