/* ========================= */
/* ======== GLOBAL ========= */
/* ========================= */

QWidget {
    font-family: "Segoe UI";
}

/* ========================= */
/* ===== TEXT EDITORS ====== */
/* ========================= */

QPlainTextEdit#sql_editor {
    font-family: "JetBrains Mono";
}

/* ========================= */
/* ======== CONSOLE ======== */
/* ========================= */

QTextEdit#console {
    font-family: "Consolas";
}
