QWidget#home_page {
    background-color: $home_page_background_color;
    border: 2px solid $home_page_border_color;
    border-radius: 8px;
}

QLabel#home_page_title {
    background-color: transparent;
    color: $home_page_title_color;
    font-size: 36px;
}

QLabel#home_page_slogan {
    background-color: transparent;
    color: $home_page_slogan_color;
    font-size: 24px;
}
