/* ======================= */
/* === CONNECTION FORM === */
/* ======================= */

/* Formulario */

QWidget#settings_menu {
    background: $connection_form_background_color;
    border: 2px solid $connection_form_border_color;
    border-radius: 4px;
}

/* Título */

QLabel#settings_menu_title {
    background-color: $connection_form_title_background_color;
    border-bottom: 2px solid $connection_form_border_color;
    border-top: 2px solid $connection_form_border_color;
    border-radius: 4px;
    font-size: 20px;
    padding: 4px 8px 4px 8px;
}

/* Labels */

QLabel#settings_menu_input_label {
    background-color: transparent;
    color: $connection_form_input_label_color;
    font-size: 14px;
}

/* Inputs */

QComboBox#settings_menu_input {
    background-color: $connection_form_input_background_color;
    border: 1px solid $connection_form_input_border_color;
    border-radius: 4px;
    color: $connection_form_input_color;
    font-size: 12px;
    padding: 8px 12px;
}

QComboBox#settings_menu_input:hover {
    background-color: $connection_form_input_background_color_hover;
    border-color: $connection_form_input_border_color_hover;
    color: $connection_form_input_color_hover;
}

QComboBox#settings_menu_input:focus {
    background-color: $connection_form_input_background_color_focus;
    border-color: $connection_form_input_border_color_focus;
    color: $connection_form_input_color_focus;
}

QComboBox#settings_menu_input::drop-down {
    background-color: $connection_form_input_background_color_hover;
    border-left: 1px solid $connection_form_input_border_color;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 28px;
}

QComboBox#settings_menu_input::down-arrow {
    image: url($connection_form_arrow_icon);
    width: 12px;
    height: 12px;
}

QComboBox#settings_menu_input QAbstractItemView {
    background-color: $connection_form_background_color;
    border: 1px solid $connection_form_border_color;
    selection-background-color: $connection_form_input_background_color_hover;
    outline: 0;
}
