# Carpeta con cosas.
cosas/

# Carpeta con los scripts de las bases de datos de pruebas.
sakila/

# Scripts de bash.
*.sh

# Visual Studio Code.
.vscode/*
!.vscode/settings.json
!.vscode/python.code-snippets
!.vscode/launch.json
!.vscode/extensions.json

# Entornos virtuales.
.venv/
venv/
ENV/
env/

# Python.
__pycache__/
build/
dist/

# Carpetas autogeneradas del proyecto.
geimesdb_logs/
geimesdb_data/

# Tests.
.coverage
coverage.*
htmlcov/
.pytest_cache/
